In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter

In [2]:
data = pd.read_csv('data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

# Предобработка датасета

In [4]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [11]:
data.groupby(['original_title'])['budget'].sum().sort_values(ascending=False)

original_title
The Warrior's Way                              425000000
Pirates of the Caribbean: On Stranger Tides    380000000
Pirates of the Caribbean: At World's End       300000000
Avengers: Age of Ultron                        280000000
Tangled                                        260000000
                                                 ...
Spring Breakers                                  5000000
The Last Exorcism Part II                        5000000
Apollo 18                                        5000000
Paranormal Activity: The Marked Ones             5000000
Clerks II                                        5000000
Name: budget, Length: 1888, dtype: int64

In [12]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [13]:
data[data.runtime == data.runtime.max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
1158,tt0279111,0.469518,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,23,5.8,2003

In [14]:
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [17]:
data.groupby(['original_title'])['runtime'].min().sort_values(ascending=True)

original_title
Winnie the Pooh                                   63
The Jungle Book 2                                 72
Return to Never Land                              72
Home on the Range                                 76
Valiant                                           76
                                                ...
Pearl Harbor                                     183
King Kong                                        187
Grindhouse                                       191
The Lord of the Rings: The Return of the King    201
Gods and Generals                                214
Name: runtime, Length: 1888, dtype: int64

In [18]:
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [20]:
data.runtime.mean()

109.65343915343915

In [21]:
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [22]:
data.runtime.median()

106.5

In [23]:
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [27]:
data['profit'] = data.revenue - data.budget
data.groupby(['original_title'])['profit'].max().sort_values(ascending = False)

original_title
Avatar                          2544505847
Star Wars: The Force Awakens    1868178225
Jurassic World                  1363528810
Furious 7                       1316249360
The Avengers                    1299557910
                                   ...
The Adventures of Pluto Nash     -92896027
Mars Needs Moms                 -111007242
The Alamo                       -119180039
The Lone Ranger                 -165710090
The Warrior's Way               -413912431
Name: profit, Length: 1888, dtype: int64

In [28]:
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [29]:
data[(data.revenue - data.budget) == (data.revenue - data.budget).min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010,-413912431

In [30]:
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [32]:
len(data[data.profit > 0])

1478

In [33]:
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [35]:
data[data.release_year == 2008].groupby(['original_title'])['profit'].max().sort_values(ascending = False)

original_title
The Dark Knight                                       816921825
Indiana Jones and the Kingdom of the Crystal Skull    601636033
Mamma Mia!                                            557841637
Kung Fu Panda                                         501744560
Hancock                                               474029371
                                                        ...
Speed Racer                                           -26054234
The Express                                           -30206504
City of Ember                                         -37130952
Outlander                                             -42966317
Australia                                             -80445998
Name: profit, Length: 121, dtype: int64

In [36]:
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [37]:
data[(data.release_year >= 2012) & (data.release_year <= 2014)].groupby(['original_title'])['profit'].min().sort_values(ascending = True)

original_title
The Lone Ranger                    -165710090
R.I.P.D.                            -68351500
Upside Down                         -51893525
Legends of Oz: Dorothy's Return     -51337973
Bullet to the Head                  -45510171
                                      ...
Despicable Me 2                     894761885
Skyfall                             908561013
Iron Man 3                         1015439994
Frozen                             1124219009
The Avengers                       1299557910
Name: profit, Length: 367, dtype: int64

In [38]:
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [45]:
genres = data.genres.str.split('|').sum()

In [48]:
#Первый способ

pd.Series({x:data[data['genres'].str.contains(x)].original_title.count() for x in genres}).sort_values(ascending=False)

Drama              782
Comedy             683
Thriller           597
Action             583
Adventure          416
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            223
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             20
Documentary          8
Foreign              2
dtype: int64

In [49]:
#Второй способ

s = ["Action", "Adventure", "Drama", "Comedy", "Thriller"]
q_max = 0 
gen = ''
for i in s:
    q = len(data[data.genres.str.contains(i)])
    if q > q_max:
        q_max = q
        gen = i
print(gen, q_max)

Drama 782

In [50]:
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [52]:
#Первый способ

s = ["Action", "Adventure", "Drama", "Comedy", "Thriller"]
q_max = 0 
gen = 'Action'
data_profit = data[data.profit > 0]
for i in s:
    q = len(data_profit[data_profit.genres.str.contains(i)])
    if q > q_max:
        q_max = q
        gen = i
print(gen, q_max)

Drama 560

In [57]:
#Второй способ

pd.Series({x:data_profit[data_profit.genres.str.contains(x)].profit.count() for x in genres}).sort_values(ascending = False)

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Foreign              0
dtype: int64

In [58]:
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [59]:
data.director.value_counts()

Steven Soderbergh       13
Clint Eastwood          12
Ridley Scott            12
Shawn Levy              10
Steven Spielberg        10
                        ..
George Nolfi             1
David Barrett            1
John Patrick Shanley     1
Glen Morgan              1
Ben Younger              1
Name: director, Length: 958, dtype: int64

In [60]:
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [61]:
data_profit.director.value_counts()

Ridley Scott          12
Steven Soderbergh     10
Clint Eastwood        10
Steven Spielberg      10
Shawn Levy             9
                      ..
Phil Joanou            1
Lars von Trier         1
Stephen Hopkins        1
Giuseppe Tornatore     1
Ben Younger            1
Name: director, Length: 774, dtype: int64

In [62]:
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [63]:
pivot = data.loc[data['director'].isin(['Steven Spielberg', 'James Cameron', 'Christopher Nolan', 'David Yates', 'Peter Jackson'])].pivot_table(values=['profit'],
index=['director'],
aggfunc='sum')
display(pivot)

                       profit
director
Christopher Nolan  3162548502
David Yates        3379295625
James Cameron      2548546718
Peter Jackson      5202593685
Steven Spielberg   2449700791

In [64]:
pivot[pivot.profit == pivot.profit.max()]

                   profit
director
Peter Jackson  5202593685

In [65]:
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [67]:
#Первый способ

actors = ['Emma Watson', 'Johnny Depp', 'Michelle Rodriguez', 'Orlando Bloom', 'Rupert Grint']
i_max = 0
actor_max = 0
for i in actors:
    profit_i = data[data.cast.str.contains(i)].profit.sum()
    if profit_i > i_max:
        i_max = profit_i
        actor_max = i
print(actor_max, i_max)

Emma Watson 6666245597

In [68]:
actors_list = data.cast.str.split('|').sum()

In [69]:
pd.Series({x:data[data.cast.str.contains(x)].profit.sum() for x in actors_list}).sort_values(ascending = False)

Emma Watson           6666245597
Daniel Radcliffe      6514990281
Rupert Grint          6408638290
Ian McKellen          6087375777
Robert Downey Jr.     5316030161
                         ...
Elisabeth Harnois     -111007242
Emilio EchevarrÃ­a    -119180039
Kate Bosworth         -369455668
Ti Lung               -413912431
Jang Dong-gun         -413912431
Length: 3408, dtype: int64

In [70]:
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [71]:
min_profit_actors = ['Nicolas Cage','Danny Huston', 'Kirsten Dunst', 'Jim Sturgess', 'Sami Gayle']
i_min = 0
actor_min = 0
data_2012 = data[data.release_year == 2012]
for i in min_profit_actors:
    profit_i = data_2012[data_2012.cast.str.contains(i)].profit.sum()
    if profit_i < i_min:
        i_min = profit_i
        actor_min = i
print(actor_min, i_min)

Kirsten Dunst -68109207

In [72]:
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [73]:
top_actors = ['Tom Cruise', 'Mark Wahlberg', 'Matt Damon', 'Angelina Jolie', 'Adam Sandler']
top_data = data[data.budget > data.budget.mean()]
max_number_i = 0
for i in top_actors:
    number_i = len(top_data[top_data.cast.str.contains(i)])
    if number_i > max_number_i:
        max_number_i = number_i
        top_act = i
print(top_act, max_number_i)

Matt Damon 18

In [74]:
answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [75]:
NC_data = data[data.cast.str.contains('Nicolas Cage')]
s = ["Action", "Adventure", "Drama", "Crime", "Thriller"]
q_max = 0 
gen = ''
for i in s:
    q = len(NC_data[NC_data.genres.str.contains(i)])
    if q > q_max:
        q_max = q
        gen = i
print(gen, q_max)

Action 17

In [76]:
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [77]:
studios = ['Universal', 'Paramount Pictures', 'Columbia Pictures', 'Warner Bros', 'Twentieth Century Fox Film Corporation']
s_max = 0 
std = ''
for i in studios:
    s_n = len(data[data.production_companies.str.contains(i)])
    if s_n > s_max:
        s_max = s_n
        std = i
print(std, s_max)

Universal 185

In [78]:
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [79]:
studios_2015 = ['Universal Pictures', 'Paramount Pictures', 'Columbia Pictures', 'Warner Bros', 'Twentieth Century Fox Film Corporation']
data_2015 = data[data.release_year == 2015]
s_2015_max = 0 
std_2015 = ''
for i in studios_2015:
    s_n = len(data_2015[data_2015.production_companies.str.contains(i)])
    if s_n > s_2015_max:
        s_2015_max = s_n
        std_2015 = i
print(std_2015, s_2015_max)

Warner Bros 12

In [80]:
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [82]:
companies = data.production_companies.str.split('|').sum()
pd.Series({x:data[(data['production_companies'].str.contains(x)) & (data['genres'].str.contains('Comedy'))].profit.sum() for x in companies}).sort_values(ascending = False)

Universal                   9130349034
Universal Pictures          8952422726
Twentieth Century Fox       8239362666
Disney                      8006316328
Walt Disney                 7975933215
                               ...
Warner Bros. Pictures        -54738687
Shangri-La Entertainment     -55170786
Dark Horse Entertainment     -68351500
Road Rebel                   -71331093
Mel's Cite du Cinema         -92896027
Length: 1772, dtype: int64

In [83]:
answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [84]:
pd.Series({x:data[(data['production_companies'].str.contains(x)) & (data['release_year'] == 2012)].profit.sum() for x in companies}).sort_values(ascending = False)

Columbia Pictures        2501406608
Universal                1981011579
Universal Pictures       1981011579
Twentieth Century Fox    1508921607
Marvel Studios           1299557910
                            ...
Studio 37                 -51893525
Transfilm                 -51893525
Onyx Films                -51893525
CinÃ©+                    -70341621
France 2 CinÃ©ma          -82545651
Length: 1772, dtype: int64

In [85]:
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [86]:
data[data['production_companies'].str.contains('Paramount Pictures')].sort_values('profit', ascending = True).head(3)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
926,tt0267626,0.722330,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,146,6.0,2002,-64831034
1124,tt0300556,1.047214,80000000,19480739,Timeline,Paul Walker|Frances O'Connor|Gerard Butler|Bil...,Richard Donner,They had to travel into the past to save the f...,A group of archaeological students become trap...,116,Action|Adventure|Science Fiction,Paramount Pictures|Donners' Company|Mutual Fil...,11/26/2003,176,5.1,2003,-60519261
1723,tt0435705,1.068126,70000000,18211013,Next,Nicolas Cage|Julianne Moore|Jessica Biel|Thoma...,Lee Tamahori,"If you can see the future, you can save it.",Las Vegas showroom magician Cris Johnson has a...,96,Action|Science Fiction|Thriller,Paramount Pictures|Virtual Studios|Revolution ...,4/24/2007,499,5.9,2007,-51788987

In [87]:
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [88]:
pivot_years = data.loc[data['release_year'].isin(range(2000, 2016))].pivot_table(values=['profit'],
index=['release_year'],
aggfunc='sum').sort_values('profit', ascending = False)
display(pivot_years)

                   profit
release_year
2015          18668572378
2014          16397812953
2012          16077001687
2013          15243179791
2011          14730241341
2009          13423744372
2010          13117292530
2008          11663881990
2007          11565911801
2004           9634180720
2003           9228823312
2002           9002361487
2005           8981925558
2006           8691077320
2001           7950614865
2000           6101399805

In [89]:
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [90]:
WarnerB = data[data.production_companies.str.contains('Warner Bros')]
pd.Series({x:WarnerB[WarnerB.release_year == x].profit.sum() for x in range(2000, 2016)}).sort_values(ascending = False)

2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
dtype: int64

In [91]:
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [92]:
data['release_date'] = pd.to_datetime(data['release_date'])
pd.Series({x:data[data.release_date.dt.month == x].profit.count() for x in range(1, 13)}).sort_values(ascending = False)

9     227
12    191
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
dtype: int64

In [93]:
answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [94]:
data[(data.release_date.dt.month >= 6) & (data.release_date.dt.month <= 8)].original_title.count()

450

In [95]:
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [96]:
director = data.director.str.split('|').sum()
winter_month = [1, 2, 12]
data_winter = data[data.release_date.dt.month.isin(winter_month)]
pd.Series({x:data_winter[data_winter['director'].str.contains(x)].original_title.count() for x in director}).sort_values(ascending = False)

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Adam Shankman        4
Martin Scorsese      4
                    ..
David Cronenberg     0
Douglas McGrath      0
Jason Winer          0
Michael Dowse        0
Colin Trevorrow      0
Length: 998, dtype: int64

In [97]:
answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [98]:
#создаем список из 12 нулей - по количеству месяцев
profit_month = []

for i in range(1, 13):
    profit_month.append(0)

#для каждого года ищем наиболее прибыльный месяц. 
#в списке с нулями последовательно увеличиваем элемент, порядковый номер которого соответствует прибыльному месяцу
for year in range(2000, 2016):
    top_month = pd.Series({x:data[(data.release_date.dt.month == x) & (data.release_date.dt.year == year)].profit.sum() for x in range(1, 13)}).sort_values(ascending = False)
    profit_month[top_month.index[0]-1] +=1
print(profit_month)

[0, 0, 0, 0, 4, 7, 1, 0, 0, 0, 0, 4]

In [99]:
answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [101]:
data['title_len'] = data.original_title.str.len()
mean_len_max = 0
company_max_title = ''
for x in companies:
    if mean_len_max < data[(data['production_companies'].str.contains(x))].title_len.mean():
        mean_len_max = data[(data['production_companies'].str.contains(x))].title_len.mean()
        company_max_title = x        
print(company_max_title, mean_len_max)

Four By Two Productions 83.0

In [102]:
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [103]:
data['words_number'] = data.original_title.str.count(' ') + 1 

pd.Series({x:data[(data['production_companies'].str.contains(x))].words_number.mean() for x in companies}).sort_values(ascending = False)

Four By Two Productions                                 12.0
Jim Henson Company, The                                 10.0
Dos Corazones                                            9.0
The Saul Zaentz Company                                  9.0
Polsky Films                                             9.0
                                                        ...
Warner Independent Pictures (WIP)                        NaN
The Movie Network (TMN)                                  NaN
Munich Film Partners & Company (MFP) MI2 Productions     NaN
Danmarks Radio (DR)                                      NaN
Munich Film Partners & Company (MFP) ROE Production      NaN
Length: 1772, dtype: float64

In [104]:
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [105]:
data['original_title'] = data['original_title'].str.replace('  ', ' ').str.lower()
title_words = set(data.original_title.str.split(' ').sum())
    
print(len(title_words))

2461

In [106]:
answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [107]:
rating = data.vote_average.quantile(0.99)
data2 = data[data.vote_average > rating].original_title
print(data2)

9                                          inside out
34                                               room
118                                      interstellar
119                           guardians of the galaxy
125                                the imitation game
128                                         gone girl
138                          the grand budapest hotel
370                                         inception
600                                   the dark knight
873                                       the pianist
1082    the lord of the rings: the return of the king
1184                          the wolf of wall street
1192                                 12 years a slave
1801                                          memento
Name: original_title, dtype: object

In [108]:
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [109]:
#Сщздаем возможные комбинации актеров 
from itertools import combinations
actors = data.cast.str.split('|').sum()
pairs = list(combinations(actors, 2))

In [110]:
#На переборе >44 млн пар актеров мой комп "ушёл в себя", поэтому берем пары из вариантов ответов и считаем количество для них
pair = [('Johnny Depp', 'Helena Bonham Carter'), ('Hugh Jackman', 'Ian McKellen'), ('Vin Diesel', 'Paul Walker'), ('Adam Sandler', 'Kevin James'), ('Daniel Radcliffe', 'Rupert Grint')]

s_max = 0
i_max = 0

for i in pair:
    s = data[data.cast.str.contains(i[0]) & data.cast.str.contains(i[1])].original_title.count()
    if s > s_max:
        s_max = s
        i_max = i
print('Чаще всего снимаются в одном фильме вместе', i_max, s_max)

#Интересно было бы узнать, как надо было считать количество для всех возможных пар, чтоб не зависал комп )

Чаще всего снимаются в одном фильме вместе ('Daniel Radcliffe', 'Rupert Grint') 8

In [111]:
answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [112]:
r_max = 0
successful_dir = ''

director = ['Quentin Tarantino', 'Steven Soderbergh', 'Robert Rodriguez', 'Christopher Nolan', 'Clint Eastwood']

for x in director:
    r_director = data_profit[data_profit.director.str.contains(x)].original_title.count() / data[data.director.str.contains(x)].original_title.count() * 100
    print(x, data_profit[data_profit.director.str.contains(x)].original_title.count(), data[data.director.str.contains(x)].original_title.count(), r_director)
    if r_director > r_max:
        r_max = r_director
        successful_dir = x
print(r_max, successful_dir)

Quentin Tarantino 6 7 85.71428571428571
Steven Soderbergh 10 13 76.92307692307693
Robert Rodriguez 8 11 72.72727272727273
Christopher Nolan 8 8 100.0
Clint Eastwood 10 12 83.33333333333334
100.0 Christopher Nolan

In [113]:
answer_ls.append(4)

# Submission

In [114]:
len(answer_ls)

36

In [115]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4