# Дополнительные методы работы с данными: очитска данных и создание новых признаков

В экосистеме Python, pandas является наиболее продвинутой и быстроразвивающейся библиотекой для обработки и анализа данных.

В жизни редко данные приходят в виде готовых матриц, которые представляют собой идеально организованный набор наблюдений без пропусков или аномалий. Поэтому очистка данных - важный этап.

Скачать датасет можно по адресу https://drive.google.com/file/d/1zy9JKp-bTfF0gRYkGl-g0X4o72NAhl1u/view

In [3]:
import pandas as pd

In [3]:
#загрузка файла в pandas

df = pd.read_csv('train.csv')

In [1]:
#вывод первых 10 строк файла

df.head(10)

In [7]:
#вывод информации о файле

df.info()

## Изменение датафрейма

In [8]:
df.columns

## Метод drop()

df.drop([название элементов], axis = 1 или 0, inplace = True)
axis = 1, если нужно удалить столбцы
axis = 0, если нужно удалить строки
inplace = True - удаляем элементы из самой переменной
inplace = False - просто показывается результат изменения, не изменяя переменной, к которой применяется метод

In [55]:
#Удаляем столбцы, в которых нет ценной для нас информации

## Функция round()
Позволяет выполнить округление

round(имя_df[название_колонки], количество знаков]

In [56]:
df['Fare'] = round(df['Fare'], 2)

## Пропущенные значения

Узнаем сколько их. Методы isna(), sum()

In [10]:
df.isna().sum()

## Заполняем пропущенные значения

In [58]:
# метод fillna()
#Embards

In [13]:
#подсчет однотипных данных
#метод value_counts()

In [60]:
#Выбор элемента по индексу
#функция index[]

## Метод fillna()
http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html

## Заполняем пустые значения о возрасте

In [17]:
# Способ 1: Среднее арифметическое
df['Age'].fillna(df.Age.median())

In [62]:
# Способ 2: Cредние арифметические в зависимости от класса каюты
age_1 = df[df['Pclass'] == 1]['Age'].median()

In [64]:
#Функция fill_age()
def fill_age(row):
    if pd.isnull(row['Age']):
        if row['Pclass'] == 1:
            return age_1
        if row['Pclass'] == 2:
            return age_2
        return age_3
    return row['Age']

In [65]:
df['Age'] = df.apply(fill_age,axis = 1)

## Закрепляем
### Создаем новый столбец с информацией о том, был ли пассажир на борту один или с родственниками
### Feature Engineering

In [66]:
# Способ 1: с помощью именной функции и apply

In [68]:
# Способ 2: с помощью lambda-функции

In [69]:
# Построим сводную таблицу (pivot_table), в которой отразим количество погибших и выживших 
# из числа путешествовавших в одиночку или с родственниками

## Дополнительные приемы работы с числами

In [70]:
new_df = pd.DataFrame({'col1': [1,2,3,4,5], 'col2': '2,5 4,5 3.3 1,5 2,9'.split()})

In [71]:
new_df

In [72]:
new_df.info()

In [73]:
new_df['col2'].sum()

In [74]:
#Заменяем запятые на точки

## Три способа перевода значений в числовой формат

In [75]:
new_df['col2'] = pd.to_numeric(new_df['col2'])

In [76]:
new_df['col2'] = new_df['col2'].astype('float64')

In [77]:
new_df['col2'] = new_df['col2'].apply(lambda x: float(x))

### Если нужно заменить сразу много столбцов

In [79]:
#Создадим новый датафрейм
num_df = pd.DataFrame({'col1': '56,5 2,5 3.3 1,5 2,9'.split(), 'col2': '2,5 4,5 3.3 1,5 2,9'.split(), 
                       'col3': '7,6 4,5 3.3 7,5 1,9'.split()})
num_df

In [81]:
#Заменим запятые на точки и изменим тип данных
print(list(num_df))

for i in list(num_df):
    num_df[i] = num_df[i].apply(lambda x: x.replace(',', '.')).astype('float64')
    print(i)

num_df

## Работа с датами

In [9]:
df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2016-weather-data-seattle.csv')
df.tail(10)
#df.head(10)

             Date  Max_TemperatureC  Mean_TemperatureC  Min_TemperatureC
24371  12/22/2015                 8                6.0               3.0
24372  12/23/2015                 5                4.0               3.0
24373  12/24/2015                 6                4.0               2.0
24374  12/25/2015                 5                4.0               2.0
24375  12/26/2015                 4                2.0               0.0
24376  12/27/2015                 4                3.0               2.0
24377  12/28/2015                 5                3.0               2.0
24378  12/29/2015                 7                4.0               1.0
24379  12/30/2015                 6                2.0              -1.0
24380  12/31/2015                 6                2.0              -2.0

In [11]:
#Информация о датафрейме

In [ ]:
#Количество пропущенных значений

In [13]:
#Преобразование в формат даты год-месяц-день
df['Date'] = pd.to_datetime(df['Date'])
#Выборка года
df['Date'].dt.year

Подробнее о методе
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html

## Создание новых временных признаков

In [15]:
df['current_time'] = pd.to_datetime('today').strftime("%m/%d/%Y")
df['current_time'] = pd.to_datetime(df['current_time'])

In [ ]:
df['timedelta'] = (df['current_time']-df['Date']).astype('timedelta64[Y]')

## Удаление дубликатов

In [ ]:
#Создадим словарь со списками данных
data = {"Name": ["James", "Alice", "Phil", "James"],
"Age": [24, 28, 40, 24],
"Sex": ["Male", "Female", "Male", "Male"]}

In [ ]:
#Преобразуем словарь в датафрейм

In [ ]:
#Удалим дубликаты
df.drop_duplicates()